* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 1070px;
    min-height: 425px;
    padding: 50px 40px;
    text-align: center;
    font-family: "Raleway";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
  		-ms-transform: translate(-50%, -50%);
  	        transform: translate(-50%, -50%);
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: "Raleway";
    font-size: 15px;
    padding: 0 0 2.3rem;
}

h1 {
    margin: 30px 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
}

p, .ytline {
    font-size: 1.2em;
    line-height: 1.5;
}

a {
    color: #55acee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
	min-width: 100%;
	min-height: 100%;
  opacity: 0.35;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('./assets/poster.jpg') center center / cover no-repeat;
				opacity: 0.35;
    }

    .fullscreen-bg__video, .ytline {
        display: none;
    }
}
